@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: aliceblue;
}

header {
    background-color: rgba(0, 0, 0, 0.797);
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px yellow;
    width: 600px;
    text-align: center;
    font-size: large;
    padding: 20px;
}


input {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 400px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px yellow;
    font-size: 2em;
    padding-left: 10px;
}

button {
    background-color: black;
    color: aliceblue;
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 400px;
    height: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px yellow;
    font-size: 1.5em;
    font-weight: bold;
}

footer {
    background-color: aliceblue;
    color: black;
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
}

p {
    margin-top: 10px;
    text-align: center;
    font-size: large;
}

button:hover {
    background-color: rgba(255, 255, 0, 0.315);
}